:root {
  --sl-font: 'Inter Variable', sans-serif;
  --sl-content-width: 50rem;
}

h1, h2, h3, h4, h5, h6, .site-title, .group-label {
  font-family: 'Spectral', sans-serif;
  font-weight: 400;
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  font-weight: 400;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #172630;
	--sl-color-accent: #347194;
	--sl-color-accent-high: #b8ccd9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eceef2;
	--sl-color-gray-2: #c0c2c7;
	--sl-color-gray-3: #888b96;
	--sl-color-gray-4: #545861;
	--sl-color-gray-5: #353841;
	--sl-color-gray-6: #24272f;
	--sl-color-black: #17181c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #cbd9e3;
	--sl-color-accent: #367396;
	--sl-color-accent-high: #1c3545;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}
