:root {
  --sl-font: 'Inter Variable', sans-serif;
  --sl-content-width: 50rem;
}

h1, h2, h3, h4, h5, h6, .site-title, .group-label {
  font-family: 'Spectral', sans-serif;
  font-weight: 400;
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  font-weight: 400;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: #192531;
	--sl-color-accent: #3e6e97;
	--sl-color-accent-high: #bacbda;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eaecff;
	--sl-color-gray-2: #bcbfdf;
	--sl-color-gray-3: #8285c0;
	--sl-color-gray-4: #505188;
	--sl-color-gray-5: #313164;
	--sl-color-gray-6: #211e50;
	--sl-color-black: #15152c;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ccd9e4;
	--sl-color-accent: #407099;
	--sl-color-accent-high: #203446;
	--sl-color-white: #15152c;
	--sl-color-gray-1: #211e50;
	--sl-color-gray-2: #313164;
	--sl-color-gray-3: #505188;
	--sl-color-gray-4: #8285c0;
	--sl-color-gray-5: #bcbfdf;
	--sl-color-gray-6: #eaecff;
	--sl-color-gray-7: #f4f5ff;
	--sl-color-black: #ffffff;
}