:root {
  --sl-font: 'Inter Variable', sans-serif;
  --sl-content-width: 50rem;
}

h1, h2, h3, h4, h5, h6, .site-title, .group-label {
  font-family: 'Spectral', sans-serif;
  font-weight: 400;
}

.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  font-weight: 400;
}
